extends layout

block content
  h1= "Top 10 Q&A in your area"
  if qResult == '[object Object]'
    table
      tr
        td
          center
            b Category
        td
          center
            b Question
        td
          center
            b Answer
        td
          center
            b Rank
      each qaRegistry in qResult.Items
        tr
          td
            center= qaRegistry.subject +'   '
          td
            center= qaRegistry.question +'   '
          td
            center= qaRegistry.answer +'   '
          td
            center= qaRegistry.score


