extends ../layout
block content
   h1= 'Stock Summary'
   div
      legend Total Current Farmers Offering
      table#dataTable(width='350px', border='4')
         thead
            tr#headtag
               th Item
               th Available Stock (Kg)
               th Ordered (Kg)
         tbody
            each item in totalOffering
               tr(align='center')
                  td= item.Name
                  td= item.Quota
                  td= item.Ordered
      br
      br

      legend Offering per farmer for this week
      table#dataTable(width='350px', border='4')
         thead
            tr#headtag
               th Item
               th Farmer Name
               th Offering (KG)
         tbody
            each offer in farmerOffering.Items
               tr(align='center')
                  td= offer.offeredGoods.S
                  td= offer.farmerName.S
                  td= offer.Capacity.N

